.dhxtreeview_web_icon_household{
        background-image: url(imgs/dhxtreeview_web/icon_household.gif);
    }

.dhxtreeview_web_icon_consumer{
        background-image: url(imgs/dhxtreeview_web/icon_consumer.gif);
    }
    
.dhxtreeview_web_icon_producer{
        background-image: url(imgs/dhxtreeview_web/icon_producer.png);
}